body{
    background-color: darkgray;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sketchContainer{
    border: solid 1px red;
    background-color: white;
    width: 700px;
    height: 700px;
    margin-top: 15px;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
}

#buttonHolder{
 
}

button{
    margin-top: 10px;
    padding: 10px;
    border: none;
}




